<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="site-head">
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html">
<link rel="stylesheet" type="text/css" th:href="@{/resources/w3_1.css}" >
<link rel="stylesheet" type="text/css" th:href="@{/resources/bootstrap.min.css}" >  
<script src="../public/js/jquery-3.1.0.min.js" th:src="@{resources/js/jquery-3.1.0.min.js}"></script>
<!-- <meta th:include="this :: head" th:remove="tag"/>  -->
<title>Prijava kvarova</title>
</head><body>
<header th:fragment="site-header">
<div style="clear:both"></div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
 <img src="../img/site-logo.png" th:src="@{/resources/img/logo5.png}" width="70px"/>
</nav>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Potvrda</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Prijava</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
     <div sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')" th:fragment="log-odjava">
    <form method="POST" th:action="@{/logout}">    		
			<span th:text="${'Prijavljeni ste kao: '}"></span><span sec:authentication="name"></span>&nbsp;
			<input type="submit" value="Odjava" class="btn btn-secondary my-2 my-sm-0" />			
	</form> 
	</div> 
	&nbsp;&nbsp;  
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" placeholder="Search" type="text">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
</header> <h1>Aplikacija za prijavu kvarova</h1>
<p>Aplikacija za prijavu kvarova</p>
<footer th:fragment="site-footer">
<div class="fixed-bottom" align="center"><p>Copyright &copy; DHDS, <a href="dario.schubert@gmail.com">Email Us</a></p>
</div>
<div style="clear:both"></div>
</footer></body></html>